---
layout: page
title: 主页
header: Posts By Index
---
{% include JB/setup %}


<div class="content-cnt">
<div class="ui-grid-25 ui-grid-right content-top">	
	<div class="ui-grid-23 violet-post clearfix">
        <div class="violet-post-det clearfix">
    <div class="ui-grid-16 violet-journal">
        <h4 class="v-section-tit">最新博文</h4>

        <!-- begin top article-->
        <article class="v-excerpt clearfix">
            <div class="ui-grid-7 ui-grid-bottom">
                <h3 class="v-excerpt-title"><a href="http://www.brionas.com" >睿初科技软件研发技术博客新主页</a></h3>
                <p class="v-date"><span>&#8227;</span><time pubdate="{{ site.time | date: '%Y-%m-%d' }}">{{ site.time | date: "%Y-%m-%d" }}</time></p>
            </div>
            <div class="ui-grid-9 ui-grid-right v-excerpt-det">
            <p>睿初科技软件研发技术团队正式为团队博客启用新主页www.brionas.com，我们将保留此站点，直至迁移工作的完成。新的文章将不再这里更新，敬请移步至新主页，我们将为与各位分享更多的知识！</p>
            <p>睿初科技软件研发技术团队</p>
            </div>
        </article>

        <article class="v-excerpt clearfix">
            <div class="ui-grid-7 ui-grid-bottom">
                <h3 class="v-excerpt-title"><a href="recruit.html" title="{{ rpost.title }}" rel="bookmark"><font color="#FF1A2C">[置顶]</font>团队热招 - C++高级软件工程师</a></h3>
                <p class="v-date"><span>&#8227;</span><time pubdate="{{ site.time | date: '%Y-%m-%d' }}">{{ site.time | date: "%Y-%m-%d" }}</time></p>
            </div>
            <div class="ui-grid-9 ui-grid-right v-excerpt-det">
                <p>我们的软件开发团队急需招聘C++高级软件工程师,欢迎应聘和推荐！
                主要负责基于C/C++应用软件(C/S架构)开发与维护； 基于行业项目需求提交产品总体设计方案，并评估新技术的可行性； 负责解决团队核心技术问题和编写核心代码，包括系统架构、技术方案、技术路线和核心算法等； 对原有系统进行代码重构、优化。 </p>
                <p class="v-more"><a href="recruit.html" title="Read More" rel="nofollow"><span>&#10149;</span>阅读全文</a></p>
            </div>
        </article>
        <article class="v-excerpt clearfix">
            <div class="ui-grid-7 ui-grid-bottom">
                <h3 class="v-excerpt-title"><a href="intern.html" title="{{ rpost.title }}" rel="bookmark"><font color="#FF1A2C">[置顶]</font>团队热招 - Python软件开发实习生 </a></h3>
                <p class="v-date"><span>&#8227;</span><time pubdate="{{ site.time | date: '%Y-%m-%d' }}">{{ site.time | date: "%Y-%m-%d" }}</time></p>
            </div>
            <div class="ui-grid-9 ui-grid-right v-excerpt-det">
                <p>我们的软件开发团队急需招聘 Python 软件开发实习生,欢迎应聘和推荐！
                主要负责基于 Python 的工具软件开发; 
                基于 Web 的工具软件开发。 </p>
                <p class="v-more"><a href="intern.html" title="Read More" rel="nofollow"><span>&#10149;</span>阅读全文</a></p>
            </div>
        </article>
         <article class="v-excerpt clearfix">
            <div class="ui-grid-7 ui-grid-bottom">
                <h3 class="v-excerpt-title"><a href="cppintern.html" title="{{ rpost.title }}" rel="bookmark"><font color="#FF1A2C">[置顶]</font>团队热招 - C++ 软件开发实习生 </a></h3>
                <p class="v-date"><span>&#8227;</span><time pubdate="{{ site.time | date: '%Y-%m-%d' }}">{{ site.time | date: "%Y-%m-%d" }}</time></p>
            </div>
            <div class="ui-grid-9 ui-grid-right v-excerpt-det">
                <p>我们的软件开发团队急需招聘C++软件开发实习生,欢迎应聘和推荐！
                基于Windows/Linux平台的应用软件开发;
                C++/wxWidgets软件开发; </p>
                <p class="v-more"><a href="cppintern.html" title="Read More" rel="nofollow"><span>&#10149;</span>阅读全文</a></p>
            </div>
        </article>
         <article class="v-excerpt clearfix">
            <div class="ui-grid-7 ui-grid-bottom">
                <h3 class="v-excerpt-title"><a href="javaintern.html" title="{{ rpost.title }}" rel="bookmark"><font color="#FF1A2C">[置顶]</font>团队热招 - Java 软件开发实习生 </a></h3>
                <p class="v-date"><span>&#8227;</span><time pubdate="{{ site.time | date: '%Y-%m-%d' }}">{{ site.time | date: "%Y-%m-%d" }}</time></p>
            </div>
            <div class="ui-grid-9 ui-grid-right v-excerpt-det">
                <p>我们的软件开发团队急需招聘Java软件开发实习生,欢迎应聘和推荐！基于Java/Python的工具软件开发; 开发Eclipse插件，RCP插件
                </p>
                <p class="v-more"><a href="javaintern.html" title="Read More" rel="nofollow"><span>&#10149;</span>阅读全文</a></p>
            </div>
        </article>
        <!-- end top article-->


        {% for rpost in site.posts %}
        <article class="v-excerpt clearfix">
            <div class="ui-grid-7 ui-grid-bottom">
                <h3 class="v-excerpt-title"><a href="{{ rpost.url }}" title="{{ rpost.title }}" rel="bookmark">{{ rpost.title }}</a></h3>
                <p class="v-date"><span>&#8227;</span><time pubdate="{{ rpost.date | date_to_utc | date: '%Y-%m-%d' }}">{{ rpost.date | date_to_utc | date: "%Y-%m-%d" }}</time></p>
            </div>
            <div class="ui-grid-9 ui-grid-right v-excerpt-det">
                <p>{{ rpost.description }}</p>
                <p class="v-more"><a href="{{ rpost.url }}" title="Read More" rel="nofollow"><span>&#10149;</span>阅读全文</a></p>
            </div>
        </article><!-- //v-post-excerpt -->
        {% endfor %}
        {% for npost in site.posts limit:0 offset:5  %}             
        <article class="v-post-list fn-clear">
            <p class="v-date"><span>&#8227;</span><time pubdate="{{ npost.date | date_to_utc | date: '%Y-%m-%d' }}">{{ npost.date | date_to_utc | date: "%Y-%m-%d" }}</time></p>
            <h3 class="v-post-title"><a href="{{ npost.url }}" title="{{ npost.title }}" rel="bookmark">{{ npost.title }}</a></h3>
        </article><!-- //v-post-list -->
        {% endfor %}
    </div><!-- //Journal -->
    
    {% include JB/aside.html %}
    
    </div>
    </div>
</div>
</div>
