---
layout: page
title: 主页
header: Posts By Index
---
{% include JB/setup %}


<div class="content-cnt">
<div class="ui-grid-25 ui-grid-right content-top">	
	<div class="ui-grid-23 violet-post clearfix">
        <div class="violet-post-det clearfix">
    <div class="ui-grid-16 violet-journal">
        <h4 class="v-section-tit">最近博文</h4>
        {% for rpost in site.posts limit:10 %}
        <article class="v-excerpt clearfix">
            <div class="ui-grid-7 ui-grid-bottom">
                <h3 class="v-excerpt-title"><a href="{{ rpost.url }}" title="{{ rpost.title }}" rel="bookmark">{{ rpost.title }}</a></h3>
                <p class="v-date"><span>&#8227;</span><time pubdate="{{ rpost.date | date_to_utc | date: '%Y-%m-%d' }}">{{ rpost.date | date_to_utc | date: "%Y-%m-%d" }}</time></p>
            </div>
            <div class="ui-grid-9 ui-grid-right v-excerpt-det">
                <p>{{ rpost.description }}</p>
                <p class="v-more"><a href="{{ rpost.url }}" title="Read More" rel="nofollow"><span>&#10149;</span>阅读全文</a></p>
            </div>
        </article><!-- //v-post-excerpt -->
        {% endfor %}
        {% for npost in site.posts limit:0 offset:5  %}             
        <article class="v-post-list fn-clear">
            <p class="v-date"><span>&#8227;</span><time pubdate="{{ npost.date | date_to_utc | date: '%Y-%m-%d' }}">{{ npost.date | date_to_utc | date: "%Y-%m-%d" }}</time></p>
            <h3 class="v-post-title"><a href="{{ npost.url }}" title="{{ npost.title }}" rel="bookmark">{{ npost.title }}</a></h3>
        </article><!-- //v-post-list -->
        {% endfor %}
    </div><!-- //Journal -->
    
    {% include JB/aside.html %}
    </div>
    </div>
</div>
</div>
