<div class="violet-about">
    <h4 class="v-section-tit">睿初科技软件研发技术团队</h4>
    <article class="violet-about-det">
        <p id="J_myFace" class="v-my-face"><img src="/assets/themes/twitter/img/avatar.png" alt="Hello heiniu!" width="40px" height="40px" id="J_myFace_img" /></p>
        <p>AS Team:专注于高性能、可扩展、扩平台软件设计技术</p>

        <p>我们是一个积极蓬勃的团队，让我们一起学习，探讨吧</p>
        <p></p>
		<p></p>

        <p></p>
    </article>
    <p class="v-more-right">
        <a href="/about.html"><span>&#10149;</span>More</a>
    </p>
</div><!-- //violet-about -->