<div class="page-header">
  <h1>{{ page.title }} <!--<small>Supporting tagline</small>--></h1>
</div>

<div class="row">
  <div class="span8">
    <div class="v-entry">
    
      {% if page.refer_author %}
      <p>
	<strong>
	  Posted by : 
	  <a href="{{ page.refer_blog_addr }}" target="_blank">{{ page.refer_author }}</a>
	</strong>
      <br>
      </p>
      {% endif %}

      {{ content }}</div>

    <br><br>
  <div align="center" style="color: #C30; font-family: Verdana, Geneva, sans-serif;">
    -EOF-<br>
    <a href="{{ page.url }}"><font color="#C30">睿初科技软件开发技术博客</font></a>，转载请注明出处 
  </div>

    <br><br>
    
    <!-- JiaThis Button BEGIN -->
<div class="jiathis_style_32x32">
<a class="jiathis_button_tsina"></a>
<a class="jiathis_button_tqq"></a>
<a class="jiathis_button_tsohu"></a>
<a class="jiathis_button_t163"></a>
<a class="jiathis_button_renren"></a>
<a class="jiathis_button_kaixin001"></a>
<a class="jiathis_button_douban"></a>
<a class="jiathis_button_xianguo"></a>
<a class="jiathis_button_fanfou"></a>
<a class="jiathis_button_gmail"></a>
<a class="jiathis_button_fb"></a>
<a class="jiathis_button_twitter"></a>
<a class="jiathis_button_linkedin"></a>
<a class="jiathis_button_print"></a>
<a class="jiathis_button_fav"></a>
<a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jiathis_separator jtico jtico_jiathis" target="_blank"></a>
<a class="jiathis_counter_style"></a>
</div>
<script type="text/javascript" >
var jiathis_config={
	summary:"",
	hideMore:false
}
</script>
<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
<!-- JiaThis Button END -->


    <br><br><br>
                        
    <!--<hr>-->
    <div class="pagination">
      <ul>
      {% if page.previous %}
        <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; 前一篇：{{ page.previous.title }}</a></li>
      {% else %}
        <li class="prev disabled"><a>&larr; 前一篇</a></li>
      {% endif %}
        <li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">归档</a></li>
      {% if page.next %}
        <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">{{ page.next.title }} :后一篇 &rarr;</a></li>
      {% else %}
        <li class="next disabled"><a>后一篇 &rarr;</a>
      {% endif %}
      </ul>
    </div>
    <hr>
    {% include JB/comments %}
  </div>
  
  <div class="span4">
   <h4>发布日期</h4>
    <div class="date"><span>{{ page.date | date_to_long_string }}</span></div>
    
     <br>
     <br>
     
<!-- JiaThis Button BEGIN -->
<div class="jiathis_style">
<a class="jiathis_button_tsina"></a>
<a class="jiathis_button_tqq"></a>
<a class="jiathis_button_tsohu"></a>
<a class="jiathis_button_t163"></a>
<a class="jiathis_button_kaixin001"></a>
<a class="jiathis_button_renren"></a>
<a class="jiathis_button_douban"></a>
<a class="jiathis_button_gmail"></a>
<a class="jiathis_button_fb"></a>
<a class="jiathis_button_twitter"></a>
<a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jiathis_separator jtico jtico_jiathis" target="_blank"></a>
<a class="jiathis_counter_style"></a>
</div>
<script type="text/javascript" >
var jiathis_config={
	summary:"",
	hideMore:false
}
</script>
<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
<!-- JiaThis Button END -->

    <br>
    
    <!--
    <br>
    <script type="text/javascript" src="http://china-addthis.googlecode.com/svn/trunk/addfeed.js" charset="UTF-8"></script><span class="addfeed_cn"><a href="http://brionas.github.com/atom.xml" title="订阅我吧"><img src="http://addfeed.cn/images/f1.gif" alt="分享家:Addfeed" align="absmiddle" /></a></span>
    -->
   
    
    
  {% unless page.tags == empty %}
    <h4>标签</h4>
    <ul class="tag_box">
    {% assign tags_list = page.tags %}
    {% include JB/tags_list %}
    </ul>
  {% endunless %}  
  
  
  
	<h4>最近发表</h4>
    <ul id="recent_posts">
    {% for rpost in site.posts limit: 10 %}
      <li class="post">
        <a href="{{ BASE_PATH }}{{ rpost.url }}">{{ rpost.title }}</a>
      </li>
    {% endfor %}
    </ul>
	{% unless site.categories == empty %}
    <h4>文章分类</h4>
    <ul class="tag_box">
      {% assign categories_list = site.categories %}
      {% include JB/categories_list %}
    </ul>
  {% endunless %}
  
  </div>
</div>
