<div class="page-header">
    <h1>{{ page.title }} <!--<small>Supporting tagline</small>--></h1>
</div>
<div class="row">
    <div class="span8">
        <div class="v-entry">
            {% if page.refer_author %}
            <p>
            <strong>
                发布者： 
                <a href="{{ page.refer_blog_addr }}" target="_blank">{{ page.refer_author }}</a>
            </strong>
            <br>
            </p>
            {% endif %}
            {{ content }}</div>
        <br><br>
        <div align="center" style="color: #C30; font-family: Verdana, Geneva, sans-serif;">
            -EOF-<br>
            睿初科技软件开发技术博客，转载请注明出处
        </div>
        <div>
            <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>
            <html xmlns:wb="http://open.weibo.com/wb">
                <wb:share-button addition="full" type="button"></wb:share-button>
            </html>
        </div>
        <div class="pagination">
            <ul>
                {% if page.previous %}
                <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; 前一篇：{{ page.previous.title }}</a></li>
                {% else %}
                <li class="prev disabled"><a>&larr; 前一篇</a></li>
                {% endif %}
                <li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">归档</a></li>
                {% if page.next %}
                <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">{{ page.next.title }} :后一篇 &rarr;</a></li>
                {% else %}
                <li class="next disabled"><a>后一篇 &rarr;</a>
                    {% endif %}
            </ul>
        </div>
        <hr>
        {% include JB/comments %}
    </div>

    <div class="span4">
        <h4>发布日期</h4>
        <div class="date"><span>{{ page.date | date_to_long_string }}</span></div>
        {% unless page.tags == empty %}
        <h4>标签</h4>
        <ul class="tag_box">
            {% assign tags_list = page.tags %}
            {% include JB/tags_list %}
        </ul>
        {% endunless %}
        <h4>最近发表</h4>
        <ul id="recent_posts">
            {% for rpost in site.posts limit: 10 %}
            <li class="post">
                <a href="{{ BASE_PATH }}{{ rpost.url }}">{{ rpost.title }}</a>
            </li>
            {% endfor %}
        </ul>
        {% unless site.categories == empty %}
        <h4>文章分类</h4>
        <ul class="tag_box">
            {% assign categories_list = site.categories %}
            {% include JB/categories_list %}
        </ul>
        {% endunless %}
    </div>
</div>
